rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita para qualquer pessoa (ideal para testes iniciais)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}